Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/strom
src/strom-main.o
stamp-h1
trees.tre
params.txt
# Meson files
src/builddir/
src/subprojects/packagecache/
src/subprojects/beagle-lib-*/
src/subprojects/ncl-*/
